@framework {
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap");
@import url("_resets.css");
/* 
font-family: 'Lobster', sans-serif;
font-family: 'Montserrat', sans-serif;

*/
:root {
  --Orange: #fc6703;
  --White: #ffffff;
  --Grey-white: #efefef;
  --Black: #000000;
}

body {
  font-family: "Montserrat", sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--Black);
}

a {
  color: var(--Orange);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.location-claim {
  color: var(--White);
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.welcome-message {
  color: var(--White);
  font-family: "Lobster", sans-serif;
  font-size: 64px;
}
.quote {
  font-size: 24px;
  font-weight: 400;
  color: var(--White);
}
.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--Orange);
  border-radius: 0 10 px 10px 0;
  color: var(--White);
}
.section-header {
  color: var(--White);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 400;
}
.pizza-card {
  background-color: var(--Grey-white);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400px;
}

form#search {
  & input {
    border-radius: 10px 0 0 10px;
    border: none;
  }
  & .btn {
    border-radius: 0px 10px 10px 0px;
    &.btn {
      border: none;
    }
  }
}

.hero-container {
  width: 100%;
  background-image: url("../assets/img/hero-img.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.btn_build_pizza :hover {
  background-color: aqua;
}

nav div ul {
  list-style: none;
}

.customize-menu {
  width: 80%;
  height: 80%;
}

.customize-menu .menu-tabs {
  background-color: var(--Grey-white);
}

.nav-page {
  background-color: var(--Grey-white);
  width: 100%;
  height: 400px;
}

.card {
  width: 240px;
  height: 130px;
}

.card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-body {
  position: absolute;
  bottom: 0px;
}

.card-body label {
  color: var(--Grey-white);
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}

.card-body input {
  border-color: var(--Orange);
  border-width: 3px;
  border-radius: 8px;
  width: 24px;
  height: 24px;
}

.card-image-top {
  width: 100%;
  height: 130px;
  object-fit: cover;
}
